body {
    font-family: 'Roboto', sans-serif; 
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    background: rgb(0,14,7);
    background: linear-gradient(0deg, rgba(0,14,7,1) 0%, rgb(19, 73, 43) 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}


#allContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerOuter {
    background: rgb(116,72,7);
    background: radial-gradient(circle, rgba(116,72,7,1) 20%, rgba(49,30,1,1) 77%);
    border-radius: 2%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
@media (orientation:landscape) {

    #allContainer {
        flex-flow: row wrap;
        flex-basis: 100%;
    }

    #containerOuter {
        flex-basis: 70%;
        padding: 3.7vh;
    }
    #containerInner {
        aspect-ratio: 2 / 1;
        flex-wrap: wrap;
    }
}

@media (orientation:portrait) {
   
    #allContainer {
        flex-flow: row wrap;
        flex-basis: 100%;
        border: 5px red solid;
    }

    #containerOuter {
        flex-basis: 80%;
        padding: 2vh;
        border: 5px red solid;
    }
    #containerInner {
        aspect-ratio: 1 / 2;
        flex-flow: column wrap;
    }
}

#buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2vh;

}

button {
    height: 10vh;
    width: 10vh;
    cursor: pointer;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    background-color: white; 
    display: flex;
    justify-content: center;  
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#containerInner {
    background-color: white;   
    display: flex;
    justify-content:flex-start; 
    align-items:flex-start;
}

.divs {
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px black solid;
    background: white;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0;
    flex-shrink: auto;
}