body {
    font-family: 'Roboto', sans-serif; 
    height: 100vh;
    margin: 0px;
    display: flex;
    background: rgb(0,14,7);
    background: linear-gradient(0deg, rgba(0,14,7,1) 0%, rgb(19, 73, 43) 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerOuter {
    padding: 30px;
    background: rgb(116,72,7);
    background: radial-gradient(circle, rgba(116,72,7,1) 20%, rgba(49,30,1,1) 77%);
    border-radius: 2%;
}

#containerInner {
    flex-basis: 140vh;
    aspect-ratio: 1 / 1;
    background-color: white;   
    display: flex;
    justify-content:flex-start; 
    align-items:flex-start;
    flex-wrap: wrap;
}

.divs {
    width: calc(3.125%);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px black solid;
    background: white;
    margin: 0px;
    padding: 0px;
    flex-shrink: auto;
}