

body {
    font-family: 'Roboto', sans-serif; 
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    background: rgb(0,14,7);
    background: linear-gradient(0deg, rgba(0,14,7,1) 0%, rgb(19, 73, 43) 99%);
    display: flex;
    justify-content: center;
    align-items: center;
}


#allContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerOuter {
    background: rgb(116,72,7);
    background: radial-gradient(circle, rgba(116,72,7,1) 20%, rgba(49,30,1,1) 77%);
    border-radius: 2%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#containerInner {
    background-color: white;   
    display: flex;
    justify-content:flex-start; 
    align-items:flex-start;
}
@media (orientation:landscape) {

    #allContainer {
        flex-flow: row wrap;
        flex-basis: 100%;
        gap: 1%;
    }

    #containerOuter {
        flex-basis: 70%;
        padding: 3.7vh;
    }
    #containerInner {
        aspect-ratio: 2 / 1;
        flex-wrap: wrap;
    }

    #buttonContainer {
        flex-direction: column;
        gap: 3vh;
        padding: 2vh;
    }
    button {
        height: 10vh;
        width: 10vh;
    }
    .range {
        margin-left: -10vh;
        margin-right: -15vh;
    }
}

@media (orientation:portrait) {
   
    #allContainer {
        flex-flow: row wrap;
        flex-basis: 100%;
    }

    #containerOuter {
        flex-basis: 80%;
        padding: 2vh;
    }
    #containerInner {
        aspect-ratio: 1 / 2;
        flex-flow: column wrap;
    }
    #buttonContainer {
        
        flex-direction: row;
        gap: 2vh;
        padding: 2vh;
        box-sizing: border-box;
    }
    button {
        height: 7vh;
        width: 7vh;
    }
}

#buttonContainer {
    display: flex;

}

button {
    
    cursor: pointer;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    background-color: white; 
    display: flex;
    justify-content: center;  
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.divs {
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 1px black solid;
    background: white;
    margin: 0px;
    padding: 0px;
    margin-bottom: 0;
    flex-shrink: auto;
}

input[type="range"] {
-webkit-appearance: none;
appearance: none;
width: 300px;
cursor: pointer;
outline: none;


height: 2vh;
background: linear-gradient(to right, rgb(54, 31, 11) 16%, rgb(122, 85, 50) 16%);
border-radius: 1vh;

margin: 0;
padding: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    apperance: none;
    height: 3vh;
    width: 3vh;
    background: rgba(49,30,1,1);
    border: 0.3vh solid rgb(87, 58, 15);
    transition: .2s ease-in-out;
    /*border-radius: 50%;*/
    outline: none;

}

input[type="range"]::-moz-range-thumb {
    height: 3vh;
    width: 3vh;
    background: rgba(49,30,1,1);
    border: 0.15vh solid rgb(87, 58, 15);
    transition: .2s ease-in-out;
}
/*

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1)
  }
  input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
  }
  input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
  }
  

  
  input[type="range"]::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255,85,0, .1)
  }
  input[type="range"]:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)
  }
  input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255,85,0, .2)   
  }
    */

.range {
    transform: rotate(-90deg);
    padding: 0;
    gap: 0;
}

.value {
    color: rgb(82, 31, 11);
    text-align: center;
    font-weight: 800;
    font-size: 3vh;
}